/****************************************
 *     CUTE CSS OPENSOURCE STYLESHEET   *
 *            VERSION 1.0.0             *
 *              AUTHOR: MM              *
 *         CREATED: 2022-07-02          *
 *     EMAIL: MUFAAD@MSOLUTIONS.LK      *
 ****************************************/
.cute-group {
  & {
    margin: 2px;
  }
}

.cute-input {
  //checkbox start
  &[type="checkbox"] {
    //checkbox on off switch start
    &.switch {
      & {
        position: absolute;
        left: -9999px;
        top: -9999px;
      }
      &:checked {
        &.danger + label::before,
        &.danger + label::after {
          background-color: rgb(230, 6, 6);
        }
        &.primary + label::before,
        &.primary + label::after {
          background-color: rgb(22, 91, 165);
        }
        &.success + label::before,
        &.success + label::after {
          background-color: rgb(13, 150, 52);
        }
        &.warning + label::before,
        &.warning + label::after {
          background-color: rgb(232, 200, 42);
        }
        & + label {
          &::after {
            transform: translate(100%);
            transition: background-color 200ms ease-in-out,
              transform 200ms ease-in-out;
          }
        }
      }
      &:focus + label::before {
        outline: rgba(81, 81, 81, 0.545) solid 1px;
      }
      & + label {
        & {
          display: flex;
          position: relative;
          cursor: pointer;
          align-items: center;
        }
        &::before {
          content: "";
          width: 3em;
          height: 1.5em;
          margin-right: 0.5em;
          border-radius: 2em;
          opacity: 0.3;
          background-color: #ccc;
          transition: background-color 200ms ease-in-out;
        }

        &::after {
          content: "";
          position: absolute;
          left: 0.1em;
          width: 1.4em;
          height: 1.3em;
          border-radius: 100%;
          opacity: 1;
          background-color: rgb(192, 192, 192);
          transition: background-color 200ms ease-in-out,
            transform 200ms ease-in-out;
        }
      }
    }
    //checkbox on off switch end
  }
  //checkbox end
}
